<div class="col">
  <div class="card card-cover h-150 overflow-hidden text-bg-dark rounded-4 shadow-lg">
    <div class="d-flex flex-column h-50 p-5 pb-3 text-white text-shadow-1 text-center infos">
      <div class="image">
        <img class="w-100 rounded-2 object-fit-cover" style="height: 10rem;" src="<%= veiculo.foto %>" alt="Foto do carro">
      </div>
      <h3 class="display-6 lh-1 fw-bold mt-4 fs-5"><%= veiculo.nome %></h3>
      <h3 class="mb-2 fs-5"><%= veiculo.marca%>, <%= veiculo.cor%>,<%= veiculo.valor%></h3>
      <h3 class="mb-4 fs-5">Valor Diária: <%= veiculo.diaria %></h3>

      <% if(tipoUsuario !== "ADMIN") { %>
      
        <% if(veiculo.status === "DISPONIVEL"){ %>
          <div class="mb-2">
            <h6 class="mb-5">Status: <span class="text-success">Disponível</span></h6>  
          </div>
      
        <% } else { %>
          <div class="mb-4">
            <h6 class="mb-2">Status: <span class="text-danger">Indisponível</span></h6>  
            <h6 class="mb-2">Disponível em: <%= veiculo.proximaDataDisponivel %></h6>  
          </div>
        <% } %>
      
      <% } %>

      <% if(tipoUsuario === "CLIENTE"){ %>
        <a href="/loja/alugar/<%= veiculo.id %>" type="button" class="btn btn-success ms-2 btn-sm w-100">Alugar</a>
      <% } %>

      <% if(tipoUsuario === "ADMIN"){ %>
        <div class="text-center mb-3">
          <a href="/admin/editVeiculo?id=<%= veiculo.id %> " class="edit btn btn-primary">Editar</a>
          <a href="/admin/deletarVeiculo?excluir=<%= veiculo.id %>"class="delete btn btn-danger" id="<%= veiculo._id %> ">Remover</a>
        </div>
      <% } %>
    </div>
  </div>
</div>