<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minha Conta</title>

  <link href="http://localhost:3000/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>  
  <%- include("../partials/header-cliente"); %>

  <h3 class="text-center mt-4">Minha Conta</h3>

  <div class="w-25 text-center m-auto pt-3">
    <div class="form-outline mb-2">
      <label class="form-label" for="nome" id="nome" type="text">Nome Completo:</label>
      <input type="text" name="nome" id="nome" class="form-control" value="<%= usuario.nome %>" disabled />
    </div>

    <div class="form-outline mb-2">
      <label class="form-label" for="data-nascimento" id="data-nascimento">Data de Nascimento:</label>
      <input type="date" name="data-nascimento" id="data-nascimento" class="form-control" value="<%= usuario.dataNascimento %>" disabled/>
    </div>
      
    <div class="form-outline mb-2">
      <label class="form-label" for="genero" id="genero" type="text">Gênero:</label>
      <div class="form-outline">
        <span style="margin-right: 10px;">
          <input type="radio" name="genero" value="masculino" id="genero" class="form-check-input" disabled <% if(usuario.genero == "masculino") { %> checked <% } %> /><span style="margin-left: 5px;">Masculino</span>
        </span>
        <span style="margin-right: 10px;">
          <input type="radio" name="genero" value="feminino" id="genero" class="form-check-input" disabled <% if(usuario.genero == "feminino") { %> checked <% } %> /><span style="margin-left: 5px;">Feminino</span>
        </span>
        <span style="margin-right: 10px;">
          <input type="radio" name="genero" value="outro" id="genero" class="form-check-input" disabled <% if(usuario.genero != "masculino" && usuario.genero != "feminino") { %> checked <% } %> /><span style="margin-left: 5px;">Outro</span>
        </span>
      </div>
    </div>

    <div class="form-outline mb-2">
      <label for="telefone">Telefone:</label>
      <input type="tel" name="telefone" id="telefone" class="form-control" value="<%= usuario.telefone %>" disabled />
    </div>

    <div class="form-outline mb-2">
      <label class="form-label" for="email" id="email" type="text">Email:</label>
      <input type="email" name="email" id="email" class="form-control" value="<%= usuario.email %>" disabled />
    </div>
      
    <div class="form-outline mt-4">
      <a type="button" href="/loja/conta-editar" class="btn btn-outline-primary">Editar Conta</a> 
      <a type="button" href="/loja/conta-senha" class="btn btn-outline-primary">Alterar Senha</a>
    </div>

    <% if(message != " " && erro == 0) { %>
      <div class="alert alert-success mt-4 p-2" role="alert" style="text-align: center;">
        <span><%= message %></span>
      </div>
    <% }else if(message != " " && erro == 1){ %>
      <div class="alert alert-danger mt-4 p-2 w-100" role="alert" style="text-align: center;">
        <span><%= message %></span>
      </div>
    <% } %>
  </div> 

  <footer class="text-center mb-2 mt-4">Projeto 1 de Web - Desenvolvido por <a href="">Jorge Nobre</a>, <a href="">Livian Torres</a>, <a href="">Samuel Lopes</a>, <a href="https://github.com/victor-joness">Victor Mesquita</a></footer>
  <script src="http://localhost:3000/js/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>